# Virtual environments
venv/
env/
.venv/
.env/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
Thumbs.db
ehthumbs.db
.DS_Store

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
*.sqlite3
.env